@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
}

:root {
  background-color: #020617;
}

/* Força o navegador a dar 100% de espaço ao app */
html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #020617;
}
